html, body{
    height: 100%;
}

/** Página da Visita Guiada **/

#vg_tittle {
    font: 700 70px "Slabo 27px";
    text-align: center;
    padding: 80px 0 30px 0;
}

.description{
    font: 400 15px "Roboto";
    text-align: center;
    padding-top: 10px;
}

#btn_scrl{
    padding-top: 50px;
    text-align: center;
    align-content: center;
}

#vg_subtittle{
    font: 700 30px "Slabo 27px";
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

#vg_subtittle2{
    font: 700 20px "Slabo 27px";
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
}

.labelsLocs{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.labelsLocs p{
    font: 400 15px "Roboto";
    text-align: center;
}


.labelimg{
    margin: 0px 70px 0px 70px;
}

.mapa_guia {
    width: 100%;
    height: 300px;
    background-size: 600px;
    background-image: url(/img/DEI3D.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-bottom:100px;
    z-index: -1;
}


.entrada1{
    position:relative;
    float: right;
    margin-top: 10.2%;
    right: 83%;
    font-size: 18px;
}

.entrada2{
    position:relative;
    float: right;
    margin-top: 25.7%;
    right: 69%;
    font-size: 18px;
}

.ecraGuia{
    height: 100%;
}


/** Página dos icons com as Categorias **/

.page_title2 {
    font: 700 46px "Slabo 27px";
    text-align: center;
    padding: 0px 10px 10px 10px;
}

.floortittle {
    font: 700 20px "Slabo 27px";
    text-align: center;
    padding-bottom: 5px;
}

#CategoriasIcons{
    text-align: center;
}

.Catg{
    padding-top: 20px;
    text-align: center;
}

.Catg a{
    color: #333;
    text-decoration: none;
}

.Catg a:hover{
    color: #6f6f6f;
    text-decoration: none;
}

.Cat_subtitle{
    font: 700 15px "Slabo 27px";
    text-align: center;
}

.mapa_guiacategorias {
    width: 100%;
    height: 300px;
    background-size: 750px;
    background-image: url(/img/m1.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-top: 20px;
    z-index: -1;
}

.rdLab{
    display: inline-block;
}

/** Pontos no mapa **/

/** Locais Importantes **/
.lip1_1{
    position:relative;
    padding-top: 7%;
    right: 25%;
    font-size: 18px;
}

.lip1_2{
    position:relative;
    float: right;
    padding-top: 8%;
    right: 54.8%;
    font-size: 18px;
}

.lip1_3{
    position:relative;
    float: right;
    padding-top: 8%;
    right: 58.5%;
    font-size: 18px;
}

/** CONTINUAR AQUI!!! **/

.lip4_1{
    position:relative;
    float: right;
    padding-top: 14%;
    right: 76.4%;
    font-size: 18px;
}

.lip4_2{
    position:relative;
    float: right;
    padding-top: 5.3%;
    right: 52.5%;
    font-size: 18px;
}

.lip6_1{
    position:relative;
    float: right;
    padding-top: 5.2%;
    right: 22.5%;
    font-size: 18px;
}

/** Locais Estudo **/
.lep4_1{
    position:relative;
    float: right;
    margin-top: 5.2%;
    right: 50.3%;
    font-size: 18px;
}

.lep4_2{
    position:relative;
    float: right;
    margin-top: 10.7%;
    right: 47.6%;
    font-size: 18px;
}

.lep4_3{
    position:relative;
    float: right;
    margin-top: 16.1%;
    right: 45%;
    font-size: 18px;
}

.lep4_4{
    position:relative;
    float: right;
    margin-top: 16.1%;
    right: 47.1%;
    font-size: 18px;
}

.lep5_1{
    position:relative;
    float: right;
    padding-top: 14.5%;
    right: 76.7%;
    font-size: 18px;
}


/** Locais Convivio **/
.lc_1{
    position:relative;
    float: right;
    padding-top: 13.5%;
    right: 76.4%;
    font-size: 18px;
}

.lc_2{
    position:relative;
    float: right;
    padding-top: 14.5%;
    right: 63%;
    font-size: 18px;
}

.lc_3{
    position:relative;
    float: right;
    padding-top: 10.7%;
    right: 49.8%;
    font-size: 18px;
}


/** WC's **/

.wcp4{
    position:relative;
    float: right;
    margin-top: 8%;
    right: 79.8%;
    font-size: 18px;
}

.wcp5_1{
    position:relative;
    float: right;
    margin-top: 19.8%;
    right: 55.5%;
    font-size: 18px;
}

.wcp5_2{
    position:relative;
    float: right;
    margin-top: 19.8%;
    right: 48.9%;
    font-size: 18px;
}

.wcp5_3{
    position:relative;
    float: right;
    margin-top: 19.8%;
    right: 35.7%;
    font-size: 18px;
}

.wcp5_4{
    position:relative;
    float: right;
    margin-top: 19.8%;
    right: 29.2%;
    font-size: 18px;
}

.wcp5_5{
    position:relative;
    float: right;
    margin-top: 19.8%;
    right: 15.8%;
    font-size: 18px;
}

.wcp5_6{
    position:relative;
    float: right;
    margin-top: 19.8%;
    right: 9.3%;
    font-size: 18px;
}

