body {
    text-align: center;
    padding: 0 100px;
}

/* JOGO NEI */
.jogo_nei {
    width: 100vw;
    height: 60vh;
    background: deepskyblue;
    text-align: center;
    margin: 10% 0;
}

.peca_jogo_nei {
    width: 10vh;
    height: 10vh;
    padding: 2%;
    font: 300 20px "Slabo 27px";
}

#jogo_nei_peca1 {
    background: yellow;
    z-index: 2;
}

#jogo_nei_objectivo1 {
    position: absolute;
    top: 40wh;
    right: 10vw;
    background: white;
    z-index: 1;
}

#jogo_nei_peca2 {
    background: pink;
    z-index: 2;
}

#jogo_nei_objectivo2 {
    position: absolute;
    top: 50vh;
    right: 70vw;
    background: white;
    z-index: 1;
}

.goal {
    animation-name: goal;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes goal {
    from {background-color: white;}
    to {background-color: deepskyblue;}
}






/* JOGO BAR */
.menu_bar {
    font: 300 18px "Slabo 27px";
}

.peca_jogo_bar {
    display: inline-block;
    width: 25vh;
    height: 25vh;
    min-height: 50px;
    margin: 10px;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    transform: rotateY(0deg);
}

.peca_jogo_bar:hover {
    transform: rotateY(180deg);
}

.jogo_bar {
    text-align: center;
    margin: 50px 0;
}

.costas {
    width: 100%;
    height: 100%;
}

.frente {
    position: absolute;
    backface-visibility: hidden;
    background: darkslateblue;
    width: 100%;
    height: 100%;
}

#jogo_bar_1 .costas, #jogo_bar_6 .costas {
    background-image: url("/img/bar-01.png");
    background-size:contain;
}

#jogo_bar_2 .costas, #jogo_bar_8 .costas {
    background-image: url("/img/bar-02.png");
    background-size:contain;
}

#jogo_bar_3 .costas, #jogo_bar_4 .costas {
    background-image: url("/img/bar-03.png");
    background-size:contain;
}

#jogo_bar_5 .costas, #jogo_bar_7 .costas {
    background-image: url("/img/bar-04.png");
    background-size:contain;
}

.apagado {
    visibility: hidden;
}

.clicado {
    border: 5px solid greenyellow;
    transition: linear 1s;
}

/* JOGO CONVIVIO */
.convivio_mesa {
    text-align: center;
}

.controlos {
    display: inline-block;
    width: 10vw;
    height: 10vw;
    min-height: 50px;
    background: yellow;
    margin: 1% 0 2% 0;
    padding: 4%;
    font: 300 20px "Slabo 27px";
}

#musica_titulo {
    font: 300 20px "Slabo 27px";
    margin: 20px 0;
}

.zero {
    animation-name: bailando;
    animation-duration: 2s;
}

.um {
    animation-name: bailando1;
    animation-duration: 5s;
}

.dois {
    animation-name: bailando2;
    animation-duration: 5s;
}

#convivio_animacao {
    display: inline-block;
    height: 10vw;;
    width: 10vw;;
    border-radius: 100%;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


@keyframes bailando {
    0% {
        margin-top: 0%;
        background: deepskyblue;
    }
    
    20% {
        background: yellow;    
    }
    
    50% {
        background: powderblue;    
    }
    
    80% {
        background: limegreen;    
    }
    
    100% {
        background: deepskyblue;
        margin-top: 10%;
    }

}

@keyframes bailando1 {
    0% {
        margin-left: -50%;
        transform: scale(0.5);
        background: deepskyblue;
    }
    
    20% {
        transform: scale(1);
        background: pink;    
    }
    
    50% {
        transform: scale(0.8);
        background: purple;    
    }
    
    80% {
        transform: scale(1);
        background: orange;    
    }
    
    100% {
        background: yellow;
        margin-left: 50%;
        transform: scale(0.5);
    }

}

@keyframes bailando2 {
    0% {
        margin-left: -50%;
        transform: scale(0.5);
        background: deepskyblue;
    }
    
    30% {
        transform: scale(1);
        background: pink;    
    }
    
    70% {
        transform: scale(0.8);
        background: purple;    
    }

    100% {
        background: yellow;
        margin-left: 50%;
        transform: scale(0.5);
    }

}
