
body {
    font: 200 12px "Gentium Book Basic";
    background-color: GainsBoro;
    text-align: center;
}

#barFundo{
    background-size: cover;
    background-image: url(/img/barfundo.gif);
    background-repeat: no-repeat;
    background-position: center;
}

#neiFundo{
    background-size: cover;
    background-image: url(/img/Neifundo.gif);
    background-repeat: no-repeat;
    background-position: center;
}

#convivioFundo{
    background-size: cover;
    background-image: url(/img/SalaConviviofundo.gif);
    background-repeat: no-repeat;
    background-position: center;
}

#indexfundo{
    background-size: cover;
    background-image: url(/img/DEIfundo2.gif);
    background-repeat: no-repeat;
    background-position: center;
}

#bibliotecaFundo{
    background-size: cover;
    background-image: url(/img/Bibliotecafundo.gif);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.page_title {
    font: 700 46px "Slabo 27px";
    padding: 3%;
    margin-top: 0px;
}

.texto_pagina {
    font: 400 18px "Gentium Book Basic";
    margin: 1% 0;
}

#title_home {
    font: 700 70px "Slabo 27px";
    padding: 100px 0 50px 0;
}

#visita_guiada{
    margin: 0px 10px 20px 10px;
}

#visita_experiente{
    margin: 0px 10px 20px 10px;
}

.shadow {
  -moz-box-shadow:    2px 3px 5px 1px #d1d1d1;
  -webkit-box-shadow: 2px 3px 5px 3px #a5a5a5;
  box-shadow:         2px 3px 5px 2px #a2a2a2;
}

.btn_home {
    text-transform: uppercase;
    font: 700 20px "Slabo 27px";
    background: DeepSkyBlue;
	border-radius: 5px 5px 5px 5px;
    margin: 50px 0;
}

.btn_home:hover {
	box-shadow: 0 8px DodgerBlue;
	top: -2px;
}

.btn-home:active {
	box-shadow: 0 0 DodgerBlue;
	top: 6px;
}

.mapa {
    width: 100%;
    height: 290px;
    background-size: 500px;
    background-image: url(/img/DEI3D.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: 20px 0;
}

.texto_visita {
    text-align: center;
}


.jogo_nei {
    width: 100%;
    height: 60vh;
    background: powderblue;
    text-align: center;
    margin: 20px 0;
}

/** Botão para voltar para trás **/

.btn_back{
    padding-top: 20px;
    text-align: left;
    font-size: 30px;
}

.link_btn{
    color: #000;
}

.link_btn:hover{
    color: #5a5a5a;
}

.link_btn:visited {
    color: #000;
}

/** Página Biblioteca **/



#biblioBtn{
    margin-top: 100px;
}
