.ExpMap_title {
    font: 700 46px "Slabo 27px";
    text-align: center;
    padding: 0px 10px 10px 10px;
}

.ExpMap_subtittle {
    font: 700 25px "Slabo 27px";
    text-align: center;
}

.ExpCategorias{
    float: right;
}

.ExpCat{
    padding: 10px 20px 10px 20px;
}


.ExpCat{
    color: #333;
    text-decoration: none;
}

.ExpCat:hover{
    color: #6f6f6f;
    text-decoration: none;
}

.mapa_expcategorias {
    width: 100%;
    height: 350px;
    background: hotpink;
    text-align: center;
    margin-top: 70px;
    z-index: -1;
}

/** Pontos no mapa **/

.ex1{
    position:relative;
    top: 30%;
    font-size: 18px;
}

.ex2{
    position:relative;
    top: 78%;
    right: 15%;
    font-size: 18px;
}

.ex3{
    position:relative;
    top: 50%;
    right: 20%;
    font-size: 18px;
}

.ex4{
    position:relative;
    top: 69%;
    right: 10%;
    font-size: 18px;
}